[2015-03-28 00:35] MichaelRFairhurst opened #2 "KMeans Weka failing"
There doesn't seem to be any data on the site for any of Weka's results doing KMEANS. Any easy fix? I'd love to compare it!

[2015-03-28 11:19] zoq commented on #2
Hi there,

Thanks for reporting this. There was a slight issue with the way we extracted the filename.
Commit ae04fdd5 fixes the issue.

In this context I've also updated the weka version we use to run the benchmarks. The new results should be available in about 24 hours. I'll post an update once the weka benchmark finished.

[2015-03-28 20:53] MichaelRFairhurst commented on #2
Great! Thanks!

On Sat, Mar 28, 2015 at 4:19 AM, Marcus Edel <notifications@github.com>
wrote:

[2015-03-30 08:42] zoq commented on #2
It took 1 day and 11 hours to run the benchmark, but now the weka results are up to date.

[2015-03-30 15:52] MichaelRFairhurst commented on #2
Great! Thank you so much for the quick turn around!

On Mon, Mar 30, 2015 at 1:42 AM, Marcus Edel <notifications@github.com>
wrote:

[2015-03-30 16:26] #2 closed

[2016-03-21 15:43] kno10 opened #9 "Include ELKI in the benchmarks"
ELKI has much faster clustering implementations than Weka.
In particular, it includes some fast k-means variants.
It would be interesting to see how it competes in your benchmarks.

It's java, but it an easily be launched from the command line. The GUI will assist in choosing the command line parameters.

With `-time` it will output some timing information, and `-resulthandler DiscardResultHandler

[2016-03-21 15:54] rcurtin commented on #9
Hey Erich,

Good to hear from you.  (We met at, I think, ICML some years ago.  Or some conference.  I don't remember...)

The faster k-means algorithms are definitely better choices the vast majority of the time.  These would be easy to include, but I think that it would be a lot easier if you could write a Python script that could do the benchmarking.  Then the benchmarking system could collect t

[2016-03-21 16:21] kno10 commented on #9
I believe it was at SDM in Philadelphia where we met.
When I stumbled across MLpack again recently I remembered.

For integrating ELKI, the command line as shown above should do; the MiniGUI will help with other algorithms (the dropdown for the algorithms will list all the variants we currently have).

I had a look at your benchmark system (I have my own benchmarking system here, but no results pu

[2016-03-21 16:30] rcurtin commented on #9
Ah, yeah, it was SDM, I remember now.

I think Bitbucket is very slow sometimes, I've had problems cloning the datasets repository before.  Sometimes it takes a very long time...

I'll try to help when I have time, but I'm pretty overloaded with other things, so it may be quite a while indeed before I'm able to do this.

[2016-03-22 16:52] kno10 commented on #9
Btw, I've just been adding MLpack to my benchmarks, using the precompiled binaries from Debian. The kd-tree boruvka is nice, the regular boruvka seems to be much slower than Prim's algorithm would be (on a dense matrix, prim is O(n^2), but Boruvka O(n^2 log n) if I am not mistaken).
Elkan k-means as well as the dual-tree k-means are very slow / fail for me. There must be something wrong with Elkan

[2016-03-22 18:13] rcurtin commented on #9
On Tue, Mar 22, 2016 at 09:52:54AM -0700, Erich Schubert wrote:

Yes, the "naive" algorithm implemented there is not meant to be fast.

The dual-tree k-means algorithm is for very specific cases when N is
quite large and k is also quite large.  If you have a dataset with N in
the hundreds of thousands or more and k in the hundreds or thousands and
the dimensionality is not too huge (like maybe 50

[2016-03-22 18:36] kno10 commented on #9
N is 110250, and k is 100. Is that large enough? d is 8, so indexes work well. Elkan worked, but was way too slow, 800x slower than expected. Maybe it hadn't failed, but I had killed it the previous attempt. My best guess is that they do all 10000 iterations (the iteration limit I have set).

[2016-03-22 18:45] rcurtin commented on #9
On Tue, Mar 22, 2016 at 11:36:28AM -0700, Erich Schubert wrote:

Benchmarking k-means is difficult.  Are you checking that every centroid
is converging to the same final location?  If your runs encounter empty
clusters at some point, every library is going to handle this
differently.  For instance if you run mlpack without the
--allow_empty_clusters option, it will try to reinitialize the centroid

[2016-03-24 08:58] kno10 commented on #9
It's similar with k=1000, too. dualtree-covertree fails with a sig11 segmentation fault.
I have been using `-e` to allow empty clusters, as this appears to be the default in most other implementations.

First run has not completed yet, so the "average" is over 1 sample:
[code]
From these results, elkan, dualtree and dualtree-covertree are defect.

For comparison, some other results (average of 11

[2016-03-24 13:54] rcurtin commented on #9
On Thu, Mar 24, 2016 at 01:58:26AM -0700, Erich Schubert wrote:

If I can get a copy of the dataset and initial centroids you are using,
I can take a look into the cover tree failure.

Note that using -e does not guarantee that the number of iterations will
be the same as with other toolkits; that is something that you really
need to check.  Different tolerance and termination conditions could
mea

[2016-03-24 15:04] kno10 commented on #9
The data set is here (you need to remove the labels for your parser):
http://elki.dbs.ifi.lmu.de/datasets/multiview/aloi/aloi-hsb-2x2x2.csv.gz
The command line used is:
`mlpack_kmeans -i data/aloi-hsb-2x2x2-nolabels.csv -c 100 --seed 1 -m 100000 -e -a elkan`
and the MLpack version used is 2.0.1.

Yes, tools react differently to empty clusters. I wouldn't be surprised if many go NaN and kill that c

[2016-03-24 19:28] rcurtin commented on #9
On Thu, Mar 24, 2016 at 08:04:42AM -0700, Erich Schubert wrote:

Thanks for the information and the dataset.  Yes, it appears you have
found a bug in mlpack, but I think this arises because you are running
with too many empty clusters:

$ bin/mlpack_kmeans -i ~/datasets/aloi-hsb-2x2x2-nolabels.csv -c 100 -m 1 -e -a hamerly -v
[WARN ] --output_file, --in_place, and --centroid_file are not set; no r

[2016-03-24 21:03] kno10 commented on #9
"Fairly consistent" as e.g. in Hamerly consistently outperforming Lloyd, and also tool A consistently outperforming tool B in many cases. Of course there is quite some *variance* due to random initialization, but it's on a much smaller magnitude than the other factors observed.
Shogun for example very clearly had a major problem in this benchmark (reported and resolved by now).
Maybe you copied th

[2016-03-24 21:37] rcurtin commented on #9
On Thu, Mar 24, 2016 at 02:03:51PM -0700, Erich Schubert wrote:

Fair enough; it depends on what you plan on using the benchmarks to say.
For the benchmarking tasks I am interested in, I need to ensure that the
initial centroids are all the same.

It might be worth trying to ensure that at the very least the centroid
initialization strategy is the same, but honestly I think that's an even
harder t

[2016-03-24 21:48] rcurtin commented on #9
My bad, this is incorrect.  I misread the PR.

[2016-03-25 13:12] kno10 commented on #9
Let's move the MLpack specific discussions to https://github.com/mlpack/mlpack/pull/592

Since I've been seeing kmeans differences of 100x runtime that are attributed to other implementation details than initialization, it is good enough for my purpose to benchmark with each method using a seed to initialize. Different seeds tend to cause a factor of 2x in runtime only.

For example, these are thr

[2016-03-26 15:46] mindisx opened #12 "No conversion possible and could not execute command error on default datasets for LSH"
Hello,

I encountered an issue to which I do not know the solution, thus I hope someone will be able to help me here.
I am trying to run default benchmark on LSH method of mlpack library and I get `No conversion possible` error followed by `Could not execute command`. I tried running default benchmarks also on other methods and I get similar result.

Am I missing something?

Full output of running

[2016-03-26 16:02] zoq commented on #12
Can you check that the datasets folder isn't empty? If that's the case there are three options:

1. You could download the datasets repository using: 'git submodule update --init'. Sometimes this dosn't work, because bitbucket dosn't work well with huge datasets.
2. Download the dataset repository as zip: https://bitbucket.org/zoqbits/benchmark-data/get/1f7770e39c61.zip
3. Manually download the da

[2016-03-26 16:30] mindisx commented on #12
Oh,yes, it was empty. I didn't even realized it. I downloaded the datasets and ran the benchmark again and now I do not have the  `No conversion possible`. However, I still get the following error on all datasets that are used for benchmarking LSH
`[FATAL] Could not execute command: ['mlpack_lsh', '-r', 'datasets/wine.csv', '-v', '-k',
'3', '-s', '42']`
 Any ideas how to resolve it?
Any ideas how

[2016-03-26 16:41] zoq commented on #12
Ah, I guess since mlpack changed the names from ```lsh``` to ```mlpack_lsh``` the auto detection doesn't work anymore. I'll go and fix this in the next days. However you can manually specify the mlpack binary path using the ```MLPACK_BIN``` parameter:

```make MLPACK_BIN=/usr/local/bin/ run```

[2016-03-28 13:45] mindisx commented on #12
After running  `make MLPACK_BIN=/usr/local/bin/ run BLOCK=mlpack METHODBLOCK=LSH` command, I get similar error:
[code]
Now, I've ran the mlpack_lsh manually with the same parameters as the benchmark script: `mlpack_lsh -r datasets/wine.csv -d distances.csv -n neighbours.csv -v -k 5 -s 42`. It seems that the I am missing to provide the query file
[code]
So, if I create a query_file where I specify

[2016-04-01 21:18] zoq commented on #12
Sorry for the slow response. You are right in the latest version you have to specify a query set. Which shouldn't be the case:

[code]

I'll will fix that in mlpack in the next days. What you could do in the meantime is to modify the mlpack ```lsh.py``` script.

instead of using:
[code]
we could write:
[code]

[2016-04-04 16:37] rcurtin commented on #9
Thanks for opening the bugs in mlpack, and sorry for the slow response on this.  I went on vacation last week and now that I am back I am trying to catch up...

One very important statistic that I do not see here is the number of iterations taken for convergence; nor do I see the mean squared error or some other statistic denoting how good the final clustering is.

So it's possible that some imple

[2016-04-04 17:22] kno10 commented on #9
I looked at iteration counts, but these do not have that much of an effect. With the advanced methods such as Elkan and Hamerly, the later iterations get really cheap.
I tried looking at the variance sum (MSE, SSQ, RMSE, ...), but different tools compute very different things. Some even only report the sum of distances... I wanted to look at this, but I would have had to modify every single tool.

[2016-04-05 16:32] rcurtin commented on #9
What you are suggesting and what I am suggesting are basically the same thing, except the variance is lower when you set the centroids and you avoid implementation differences for initialization strategies.  I am saying, "use fixed centroids as an initialization strategy" and you are saying "sample points randomly as an initialization strategy" but the problem that you have either way is that the

[2016-04-05 16:39] kno10 commented on #9
Correction: ELKI does have an initialization with predefined means. Apparently I already added this a long time ago.
[code]
Where a comma separates columns, the semicolon separates vectors, and of course the dimensions and number of centers must agree with your data and k.

[2016-04-05 16:56] rcurtin commented on #9
Ah, okay, great, that makes it easy to add a new benchmarking script.  I will see if I can eventually find time for this but I'm pretty overloaded for now.  If you can supply a script that would be quicker, but I'll try to get to this when I can. :)

[2017-03-12 14:30] ThyrixYang opened #23 "_mysql_exceptions.OperationalError: (1045, "Access denied for user"
When I try to save log by LOG=True, this error occurred. How to deal with it? Is it needed to create a database by hand?

[2017-03-12 20:05] zoq commented on #23
Hello, yes you have to create the database and give the user write/read permissions, you can specify the database user and password with:

[code]

and you can also specify the database in the .yaml file. Let us know if that solves your problem.

[2017-03-12 20:21] zoq commented on #12
Fixed upstream  in https://github.com/mlpack/mlpack/commit/5bc514c122d53590397fdfad42c7845d9ad91fa1#diff-1d8fe56c303ed01b74921339d84b2d3c

[2017-03-12 20:21] #12 closed

[2017-03-13 09:18] ThyrixYang commented on #23
Hi, @zoq , worked well!
But when I try to make a report by "make reports", it shows "can't open file 'benchmark/make_reports.py'".
I did not see this file anywhere, what's wrong? Thank you!

[2017-03-13 13:59] zoq commented on #23
The ``make reports`` command was removed as we switch from the static html reports to the javascript reports. It looks like I've forgotten to remove the command from the CMake file. I'll do that later today.

So, depending on the database you use to store the results you have to setup your system accordingly. If you use sqlite wich is the default database for the reports the setup is minimal, just

[2017-03-13 16:09] ThyrixYang commented on #23
@zoq , I just want to produce some images and tables. Is there any method to do this more conveniently without produce a web page? (if it's the only one way, I'll try then) :)

[2017-03-13 17:13] zoq commented on #23
Right now that are basically the only options you have (here is the interactive interface we use to show some results: http://www.mlpack.org/benchmark.html); However, since all results are stored in the database you can create your own visualization really quick. Another solution is to use the 'LOG=False' option to print a simple table to the console, maybe that's sufficient enough for your case?

[2017-03-15 12:22] ThyrixYang commented on #23
@zoq  Thank you. I think some images are better, but not necessary for me now. I may try to solve this problem latter.

[2017-03-19 14:00] sam0410 opened #29 "can't run benchmarks"
whenever I try to run  make run BLOCK=mlpack METHODBLOCK=KMEANS  or anyother benchmark,
I get the following types of errors

/usr/bin/python3 benchmark/run_benchmark.py -c config.yaml -b mlpack -l False -u False -m KMEANS --f "" --n False -r "" -p ""
[WARN ] No module named simplejson
[INFO ] CPU Model:  Intel(R) Core(TM) i5-5250U CPU @ 1.60GHz
[INFO ] Distribution: Ubuntu 16.04
[INFO ] Platform:

[2017-03-19 15:44] zoq commented on #29
My first guess is that the command (``export MLPACK_BIN=$(shell dirname $(firstword $(shell which mlpack_knn)))/``) used to figure out the mlpack binary path failed, so an easy solution would be to manually specify the path e.g.

make run ``BLOCK=mlpack METHODBLOCK=KMEANS MLPACK_BIN=/path/to/mlpack/build/bin/ MLPACK_BIN_DEBUG=/path/to/mlpack/build/bin/``

The 'No conversion possible.' message is s

[2017-03-19 19:39] sam0410 commented on #29
Hi @zoq !
I am working on ubuntu and I installed it using the command _sudo apt-get install libmlpack-dev_ , using this I could run the example mlpack programs fine (after creating the executable and running the executable).
When I do _dpkg -L libmlpack-dev_ (to find out where mlpack is installed), it points me to usr/include , where there is the mlpack folder, but there are no executables there.(

[2017-03-20 09:24] sam0410 commented on #29
Hi @zoq !
Regarding the dataset, it wasn't downloaded properly. when I loaded the file correctly, the 'No conversion possible.' message got removed.
But still the errors like
**[FATAL] Could not execute command: ['mlpack_kmeans', '-h']
[FATAL] Could not execute command: ['mlpack_kmeans', '-i', 'datasets/cloud.csv', '-I',
'-o', 'output.csv', '-v', '-c', '5']**
persisted.
So, I tried doing what you

[2017-03-20 14:33] zoq commented on #29
I think the problem is that you installed some "old" version of mlpack via ``sudo apt-get install libmlpack-dev`` that uses alknn instead of mlpack_allknn as executables name. But the script uses the new naming scheme to find the path.

[2017-03-21 19:14] pvskand opened #31 "MLP for MATLAB"
I see that there is `perceptron.m` in the MATLAB folder and I want to implement the mlp i.e `mlp_forward.m` and `mlp_backward.m` for MATLAB. Is it fine? Or has it already been implemented?

[2017-03-22 05:08] pvskand commented on #29
Hey @zoq! I tried to run the benchmarks as suggested by you i.e I ran the following command
`make run BLOCK=mlpack METHODBLOCK=KMEANS MLPACK_BIN=/home/skand/Documents/mlpack/build/bin/ MLPACK_BIN_DEBUG=/home/skand/Documents/mlpack/build/bin/`.
But I am still getting some error that says:
`**[FATAL] No conversion possible.
[FATAL] No conversion possible.
[FATAL] Could not execute command:
['/home/s

[2017-03-22 11:29] sam0410 commented on #29
Thanks @zoq !

[2017-03-22 11:30] sam0410 commented on #29
hi @pvskand !
Did you download the datasets from [https://bitbucket.org/zoqbits/benchmark-data](https://bitbucket.org/zoqbits/benchmark-data) and place it in the `datasets` folder?

[2017-03-22 13:16] sam0410 commented on #29
Hi @zoq !

I agree with @pvskand , Iam getting the same problem- even though `/path/to/mlpack/build/bin/ ` consists a `mlpack_kmeans` method.

But if I try specifying the `/path/to/mlpack/build/bin/ `  as the `path to bin/build of mlpack-2.2.0` , it is working fine
Thanks

[2017-03-22 13:45] zoq commented on #29
@pvskand  I guess I know what happens here, the parameters of the ``mlpack_kmeans`` executables changed from your version to the latest version. Also I think we could improve the error message here, by checking if there is an executable first and afterwards check if the parameters match with the current version.

Also, can you make sure that you downloaded the necessary datasets? Take a look at :

[2017-03-22 14:15] sam0410 commented on #29
Hi @zoq !
Can you please explain _executables changed from your version to the latest version_ and how do I run the benchmarks successfully now?
Thanks for your patience.

[2017-03-22 14:26] zoq commented on #29
It's possible that the parameters of one executable changed from one version to another, e.g.

[code]

there is no option ``-I`` anymore so, the executable would fail if you pass ``-I``.

So if you see the following error message:

[FATAL] Could not execute command: ['mlpack_kmeans', '-i', 'datasets/cloud.csv', '-I',
'-o', 'output.csv', '-v', '-c', '5']

And easy test would be to manuelly run the

[2017-03-22 19:40] sam0410 commented on #29
Hi @zoq !
This was the error that was produced.
`[FATAL] Caught exception from parsing command line:	the required argument for option` `'--initial_centroids' is missing`
`terminate called after throwing an instance of 'std::runtime_error'`
 ` what():  fatal error; see Log::Fatal output`
`Aborted (core dumped)`

[2017-03-22 20:24] zoq commented on #29
@sam0410 okay, so the initial centroid file (-I option) should only be added if someone passed two datasets to the benchmark script. Can you make sure you have the centroids file.

As for the wine dataset you should find a wine_centroids file that contains the initial centroid used for the kmeans benchmark script. Here is the part from the config file:

[code]

We specify that we like to run the k

[2017-03-24 02:39] zoq commented on #31
@pvskand I'm not sure you can run a single forward or backward step based on the perceptron code. Or do you propose to implement something like this in MATLAB?

[2017-03-25 12:44] sam0410 commented on #29
Hi @zoq !
Yes, both wine_centroids as well as iris_centroids is present.

[2017-03-25 18:50] zoq commented on #29
Can you post the output of ``cmd`` after:

[code]

[2017-03-27 20:21] zoq commented on #23
I think this question is answered, so I'm going to go ahead and close this issue. If there is something I can clarify or something I left answered, feel free to reopen it.

[2017-03-27 20:21] #23 closed

[2017-04-03 11:36] pvskand commented on #31
@zoq I propose to implement this in matlab.

[2017-04-03 13:47] rcurtin commented on #31
I'm not sure that benchmarking a custom implementation of multilayer perceptrons is particularly useful; I think it's better to benchmark against functionality that ships with each tool/library.  Unless there is some typical existing MATLAB implementation of MLPs to use here I don't think it makes sense to implement one specifically to benchmark against.

[2017-04-03 17:14] pvskand commented on #31
Oh! Sorry, I didn't see that there is no inbuilt implementation of the mlp in matlab. It only has the perceptron method written which has already been implemented in the benchmarks. But I see there is no `ann.py` in sci-kit module and also ann is implemented in sci-kit. Can I go ahead and write the code for the sci-kit benchmarking ann?

[2017-04-03 18:13] rcurtin commented on #31
Sure, I think that could be a nice contribution.  I'll go ahead and close this issue then.

[2017-04-03 18:13] #31 closed

[2017-04-03 20:40] rcurtin opened #42 "Include version information in database"
Ideally a user who is looking at the benchmark results should be able to determine what version of each library was used for benchmarking.  This might be as easy as grabbing the version information fromt he configuration, or it might be a little more difficult---for the 'performance over time view', we may want to also update that to get the version at the time of each run and display that.

I'll

[2017-04-03 20:44] Iron-Stark commented on #42
@rcurtin

The version of the library used is already mentioned in the config.yaml file. Can't we just somehow extract it from there and display it.

[2017-04-03 21:07] Iron-Stark commented on #42
@rcurtin

Can we write a script which would basically import a module and then use module.__version__ command to get the version and then from there store the version information in the database.

[2017-04-04 19:56] rcurtin commented on #42
Not all of the libraries are in Python, so I am not sure that will work.  But I think the version information is either available in the configuration (or maybe we can set up some other way).

[2017-06-07 18:31] gut opened #62 "Please include scikit-learn on Prequesites"
I thought I've installed all the prequesites but when running `make setup`:

[code]

a `pip install scipy scikit-learn cython` seems to solve this kind of issues. Swig also needed to be installed (but it's not a python module, so I `sudo apt install`'ed it).

[2017-06-08 10:36] zoq commented on #62
I guess you mean to list scipy as a prerequisite, since ``make setup`` downloads the packages and installs the libs (including scikit-learn). Nevertheless, I think listening all prerequisites for all libs is a good idea, despite it might be difficult to keep everything updated.

[2017-06-08 11:02] gut commented on #62
well, the README.md file should be kept as up-to-date as possible right? :-)

[2017-06-08 11:09] gut opened #63 "Avoid setting up an explicit python path on shogun"
On [shogun install file](https://github.com/mlpack/benchmarks/blob/cc0bf96eb0d7a77fd56baf1c501b48d63a1a5b16/libraries/shogun_install.sh#L31
), when the user is using, e.g: virtualenv, this kind of CMAKE configuration will override the users configuration for python environment.

Is it really necessary? In my case, the system-wide python didn't have numpy, but my active virtualenv had and it was no

[2017-06-08 14:44] zoq commented on #62
Definitely, I will add/update a section about the dependencies for each library. I'm wondering if we could come up with a script that checks for the dependencies and informs the user about missing packages.

[2017-06-08 19:54] rcurtin commented on #63
I see what you mean, but there are a couple intricacies.  These install scripts are meant to completely assemble the Shogun packages locally, so at the very least we have to set `PYTHON_PACKAGES_PATH` to properly refer to ../../lib/python3.5/dist-packages/.

The `PYTHON_INCLUDE_DIR` and `PYTHON_EXECUTABLE` variables were set so that on our benchmarking systems, they properly use Python 3.5, and so

[2017-06-09 14:00] gut commented on #63
Ok, it looks promissing but I'm not a python/virtualenv expert on that matters. I'll see if I can contribute somehow.

[2017-06-27 14:10] gut opened #75 "Weka not being called correctly"
After installing everything I noticed that the weka version downloaded was 3.8.1 (libraries/weka/README).

When I run the suite as `make run BLOCK=weka METHODBLOCK=KMEANS`, I get the following error:
[code]

Deeper check was narrowed down to this explicit call:

[code]

And it didn't work because the regex `\n        .*?total_time: (?P<total_time>.*?)s.*?\n        ` didn't match. (In fact weka did

[2017-06-27 20:37] zoq commented on #75
Hello thanks for the really helpful error report, it's fixed in 81346dfe5f73e7f9a6a5724 and is basically the same issue as you fixed in #76. It looks like the issue was part of the recent install update. Thanks again for the report.

[2017-06-30 08:21] rcurtin opened #78 "MRPT ANN test occasionally fails"
I've noticed that sometimes, the ANN test for MRPT fails, but not always:

[code]

[code]

[code]

@Iron-Stark: could you look into this one please?  Maybe there is some issue with the implementation.  We can see the issue is also happening on the benchmark nodes: http://masterblaster.mlpack.org/job/benchmark%20-%20checkout%20-%20all%20nodes/label=savannah/90/testReport/

All the information I gav

[2017-07-01 17:15] #75 closed

[2018-03-30 09:31] rickllyxu opened #114 "Contributing doc is necessary."
hello,
Now I am working on `mlpack_decision_tree.py` and plan to finish ASAP. But when I refer to `method/mlpack/decision_tree_stump.py`, and other benchmark file, I find the logic of `RunMemory` in `method/mlpack/decision_tree_stump.py` and other file is different.
 I am confused about return value of the function `RunMemory` and `RunMetrics`. Can someone tell me?

[2018-03-30 12:19] rickllyxu commented on #114
Sorry, I have understanded it.

[2018-03-30 12:19] #114 closed

[2018-04-03 16:57] rcurtin opened #116 "Audit benchmarking configuration scripts"
We need to take a look through the default configuration and ensure that each benchmarking algorithm has more than one library and a feasible (and sensible) set of datasets and options to go with it.

I will handle this one as I am able to.

[2018-06-07 16:09] kno10 opened #118 "wine data downloading is defect"
Because of the wine_qual data, it won't download the wine data automatically
[code]
... because the glob matches the wine_qual data already. Remove the star?

[2018-06-07 16:09] kno10 opened #119 "Weka does not use the predefined centroids"
But will always use random centers.

[2018-06-07 16:10] kno10 opened #120 "R is missing a kmeans benchmark"
But R has a pretty good kmeans.

[2018-06-07 22:30] zoq commented on #118
Nice catch, thanks; https://github.com/mlpack/benchmarks/pull/121 resolved the issue.

[2018-06-07 22:47] zoq commented on #119
I think weka doesn't provide an option to set initial centroids, which I think is crucial for a valid comparison; I guess we could patch the weka ``buildCluster`` method. Maybe I missed something?

[2018-06-07 22:51] rcurtin commented on #119
I had vague memory of handling this a long time ago (like 5 years now).  I thought that Weka did allow some way to do it, but I can't remember for sure.  Patching a method seems like a reasonable solution to me if we need to, but I'll dig into the docs and code for Weka a little bit more.

[2018-06-14 15:49] rcurtin opened #122 "Collect better error messages from failures"
Sometimes failures can give us results like:

[code]

with stdout

[code]

It would probably be helpful if we could provide the actual stdout or stderr output from the subprocess calls.

[2018-06-18 14:55] manish7294 opened #124 "Allow printing of all the metrics"
As of now, benchmarks only writes out timings to the output as the programme execute, but ideally it should have all the metrics(like Timings, Accuracy, etc. ) in the output, which are there being measured in method's benchmarking script.
Currently bash output looks like:
          mlpack
Iris    0.0345

But I think it should be somewhat like (need not to be similar) :
         Time         Accura

[2018-06-18 15:15] #9 closed

[2018-06-25 16:18] rcurtin commented on #124
I agree, definitely this would be an improvement.

[2018-09-16 21:14] geektoni opened #126 "Benchmarks sometimes show negative execution time"
When I try to benchmarks some libraries I sometimes get negative timing values. For instance, if I try to run `make run BLOCK=shogun,scikit METHODBLOCK=KMEANS`, I will get this result:
[code]
However, if I try other METHODBLOCKs I will get "correct" results. I tried to search into the Github's issues for solutions but I found nothing. What could be causing this? Did I miss to configure something?

[2018-09-17 17:35] zoq commented on #126
-2 indicates an internal lib specific error; there is an open issue https://github.com/mlpack/benchmarks/issues/122 to improve the overall output. As a simple workaround you could print the exception inside the method:

https://github.com/mlpack/benchmarks/blob/master/methods/shogun/kmeans.py#L104

[code]

that should give us some information about what went wrong. Can you post the output here?

[2018-09-18 08:00] geektoni commented on #126
Hi @zoq, thank you for the hints about printing the exception! Actually, I have discovered that the bug was rather easy to fix. I've made a PR #127 with the proposed solution

[2018-09-21 15:07] zoq commented on #126
The issue was solved in #127, thanks again.

[2018-09-21 15:07] #126 closed

[2019-01-21 11:33] heytitle opened #131 "Visualisation isn't working"
I was trying to see the benchmark results from http://www.mlpack.org/benchmark.html, but it doesn't seem working. I got the error below.

<img width="1437" alt="image" src="https://user-images.githubusercontent.com/1214890/51471988-810e7480-1d78-11e9-9e76-aa8c1b8535e2.png">

[2019-01-21 16:03] rcurtin commented on #131
Strange, mysql wasn't running on mlpack.org---it's running now.  The benchmarks now successfully load.  Thanks for reporting this! :+1:

[2019-01-21 16:03] #131 closed

[2019-02-12 14:49] heytitle opened #133 "Some DTC benchmarks are missing from the webpage."
According to `config.yaml`,  `mlpack` and `shogun` seem to have configuration for the DTC task. However, the benchmark webpage seems to have only `scikit`'s  results.

Is it possible that the current data is outdated? How can we update the newest results?

<img width="456" alt="image" src="https://user-images.githubusercontent.com/1214890/52643575-9f7e1080-2edd-11e9-922f-89d36c8ceb48.png">

[2019-02-13 22:21] zoq commented on #133
You are right, the DTC benchmark was added and the results haven't been updated yet. I'll see if I can start the benchmarks in the next day or two.

[2019-02-13 22:38] heytitle commented on #133
thanks!

[2019-02-16 16:15] zoq commented on #133
Okay, I've started the shogun benchmark job (http://ci.mlpack.org/view/benchmarking/job/benchmark%20-%20run%20-%20shogun/3/) hopefully it does finish without any errors.

[2019-02-17 20:18] heytitle opened #134 "Difficulties of setting up local benchmark environment"
Hi,

I've been trying to set up `benchmarks` in my laptop, but unfortunately I got several errors and ended up running install scripts one by one.

Currently, I'm trying to install `mlpy` and `shogun`, using `mlpy_install.sh` and `shogun_install.sh`. I get the following errors.
- `./mlpy_install.sh`: https://gist.github.com/heytitle/ba7a85d0459efa46386423f0739852c5#file-mlpy-log
- `shogun_install.

[2019-02-18 18:29] zoq commented on #134
IRC discussion:

[code]

[2019-02-20 09:00] heytitle commented on #133
looks like we have some errors from the build. From the build log, I can't find that much information. It just says:
[code]
@zoq  Do you have more detailed information?

[2019-02-20 18:16] zoq commented on #133
I think the error message got cut off, because the print was buffered, I'll set ``export PYTHONUNBUFFERED=true`` to dump log messages immediately and restart the benchmark.

[2019-02-21 21:19] zoq commented on #133
Restarted: http://ci.mlpack.org/view/benchmarking/job/benchmark%20-%20run%20-%20shogun/7/

[2019-03-13 06:06] braceletboy opened #136 "Non uniformity in benchmarking scripts of Shogun"
So, I was trying to write a benchmarking script for the Gaussian Process Classifier of Shogun and was looking through other benchmarking scripts to get an idea. In this process I stumbled upon a non-uniformity in the way the benchmarking scripts were written. I am new to this project so pardon me if this question is naive.
Question 1) The [decision tree.py][1] script throws an error if less than t

[2019-03-13 21:58] zoq commented on #136
You are right they should behave the same, the decision tree script should work on a single dataset as well, without the prediction step. You are right about ``if (len(self.dataset) > 1)``, actually this is already fixed in my fork; will open a PR in the next days unless you like to do it?

[2019-03-14 01:13] braceletboy commented on #136
I would love to change the benchmarking scripts so that they work on single dataset. I think there are more like that, for example [knc.py][1]. It's a comparatively easy fix and will help me get an idea of writing benchmarking scripts. Thanks alot!

And about the `if (len(self.dataset) > 1)`, I think I will leave it to you if you have already fixed it.

[1]: https://github.com/mlpack/benchmarks/bl

[2019-03-14 21:15] zoq commented on #136
If you like to take a look at this, it probably makes sense to take a look at the update I'm working on. I'll try to open a PR either today or tomorrow.

[2019-03-15 05:57] braceletboy commented on #136
Okay sure. Thanks alot!

[2019-03-15 22:43] zoq commented on #136
@braceletboy I've opened https://github.com/mlpack/benchmarks/pull/137 let me know what you think.

[2019-03-16 13:43] braceletboy commented on #136
Yes, I had a look. I fetched the pull request. I will make the necessary changes as a new branch and send a pull request from my side. But, I see that the build checks have failed - Is this pull request not the final version?

[2019-06-06 09:01] byron-hawkins opened #139 "Build fails and exits on Fedora 28 without python33"
The build fails and stops on a vanilla Fedora 28 install:

    which: no python3.3 in (/usr/share/Modules/bin:/usr/lib64/ccache:/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin)

Everything works after deleting the python3.3 line. The makefile is written as if it expects that python3.3 might not be installed, but then it fails and stops if python3.3 is not installed. This seems like a fairly majo

[2019-08-20 06:04] #136 closed

[2019-11-20 03:02] mayujsw opened #141 "is this project still maintained by someone"
ATT. Thanks.

[2019-11-20 14:56] zoq commented on #141
Yes, just yesterday I worked on the new results page .

[2019-11-21 06:23] mayujsw commented on #141
Thanks @zoq , may i know where i can find the result quoted in this page:http://www.mlpack.org/benchmark.html
The "click here" button goto 404 page

[2019-11-21 11:35] zoq commented on #141
Right with last mlpack and benchmark update we removed the results page, I can provide the database if that helps; I'm working on an update so that the link you mentioned will some results again.

[2019-12-18 19:55] zoq commented on #141
I think we can close this one, feel free to reopen the issue if there are any further questions.

[2019-12-18 19:55] #141 closed

[2019-12-19 16:37] braceletboy opened #143 "Expanding the benchmark coverage of this repository for all the toolkits"
@zoq  @rcurtin  I felt that this is a fantastic project where people can find which ml-toolkits are better for certain algorithms, and where the toolkits can improve themselves. So, I have been doing some work on my own that might be useful for this project. I have made a google sheet of the data I have been collecting in this regard. This google sheet contains:
* the names of various machine lear

[2019-12-24 02:08] rcurtin commented on #143
When we originally started on this project (it was @zoq's GSoC project many years ago :)) the idea was to use this benchmarking system to compare mlpack's implementations against other implementations.  But it's grown somewhat since then, and honestly, it's a pretty general-purpose benchmarking system, so I don't see any need to limit only to algorithms that mlpack supports.

Sure, I would imagine

[2019-12-28 19:33] rw opened #144 "Website appears to be missing many JS files"
The homepage appears to be missing many files required for the rendering of benchmarks.

Example 404s as of December 28, 2019:

https://www.mlpack.org/js/benchmarks/historical-comparison-view.js
https://www.mlpack.org/css/d3-style.css

Related: is there a way to use the benchmark suite without Javascript? Perhaps just show all the results in a big page?

[2019-12-28 20:11] zoq commented on #143
Awesome, thanks for putting everything together.

Happy to help, just send you a request.

[2019-12-28 20:14] zoq commented on #144
Right, I'm working on a redesign, we could provide an sql dump, if that is something you find helpful.

[2019-12-28 23:22] rw commented on #144
@zoq Ah, okay, well, the site is basically down for the time being :-] Maybe we can put up an archived version?

[2019-12-28 23:24] rw commented on #144
@zoq Also, I tried multiple browsers and settings, trying to get it to work. Maybe a friendly note at the top of the page would be helpful to save people time?

[2019-12-29 02:43] rcurtin commented on #144
We can easily push the relevant files to the mlpack.org repo so it temporarily works. @zoq what do you think? I could do that pretty quickly.

[2019-12-29 21:35] zoq commented on #144
@rw Sorry for the inconvenience, I'm certain we can update the page in the next days.

@rcurtin if we can put this together quickly, I think that is a good solution.

[2019-12-29 23:04] rcurtin commented on #144
@zoq done, but I think the db I pushed is pretty out of date.  If you have a newer version and want to push that to the repository I'll keep my eyes open for a commit email and then rebuild the site.

It doesn't match the new site and it doesn't look great but it's at least functional until we get something better in place. :)

[2019-12-30 18:56] zoq commented on #144
Thanks for the quick update, let's see if I can find a newer database.

[2019-12-31 03:20] rw commented on #144
Progress! I see some interactivity now, but no charts. The "parameters" box is unpopulated, and there is a JS error:

[code]

This is for:
`Compare library runtimes for an algorithm/parameter combination`
`LSH`
`instances`

[2020-01-13 09:05] braceletboy commented on #143
@zoq  and @rcurtin Sorry for the late response. I was on an extended vacation. I have approved your request @zoq.

[2020-03-19 06:14] Khalifa1997 opened #145 "Installation Problem"
I get this error when I run `make run`
`/usr/bin/python3 run.py -c test.yaml -s "" -o "INFO"
run.py:35: YAMLLoadWarning: calling yaml.load_all() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  base_param = list(yaml.load_all(stream))[0]
run.py:38: YAMLLoadWarning: calling yaml.load_all() without Loader=... is deprecated

[2020-03-20 22:46] zoq commented on #145
Setting everything up can be quite tricky, is there any chance you could use the install script: https://github.com/mlpack/benchmarks/blob/master/libraries/install_all.sh in the https://github.com/mlpack/benchmarks/blob/master/libraries/ folder?

[2020-04-02 10:49] adiwajshing opened #146 "Enhancements to benchmarking"
Hi,

I was thinking of adding some features & simplifying the benchmarking tool into a single line usage command line interface.

**For example:**
1. ‘mlpack-benchmark -ann -mlpack -github=#1123123’
2. ‘mlpack-benchmark -ann -shogun -github=#522323’
3. ‘mlpack-benchmark -ann -mlpack'

**The following should be the parameters to this system:**
1. The algorithm (-ann, -kmeans, -cnn)
2. The ML librar

[2020-04-02 15:28] rcurtin commented on #146
This seems like it would be an extremely significant refactoring.  I don't have a problem with it (it sounds like a cool idea to me), I just want to point out that it seems likely to take many weeks of hard work to make that work correctly.

[2020-04-02 15:44] zoq commented on #146
Agreed nice idea, I think some parts are already there, but they have to be put together in the right way.

[2020-04-02 18:32] adiwajshing commented on #146
@rcurtin @zoq I'm willing to put the work in, it should actually be quite exciting! I had trouble benchmarking everything when I was working on [this](https://github.com/mlpack/mlpack/pull/2341) and so, figured a uniform & simply way to benchmark ML algorithms would go a long way in helping everybody who wants to test out new changes etc.

Also, I had proposed this in my GSOC application, I hope i

[2020-04-06 15:31] rcurtin commented on #146
Sure, feel free, just be aware that it might be a while until any of us are able to review it. :)

[2020-04-06 18:31] adiwajshing commented on #146
No worries, it'll take a while to finish anyway!

[2020-11-08 18:59] Prath06 opened #148 "Error in import timeout_decorator"
Getting error in the First-line (import timeout_decorator)

[2020-11-09 21:32] zoq commented on #148
Can you post the error message here, maybe it's just that the package isn't installed - https://pypi.org/project/timeout-decorator/

[2020-11-10 04:09] Prath06 commented on #148
Yes,
Now it is working after package installation (pip install timeout_decorator)

[2020-11-10 20:22] zoq commented on #148
Alright, so I guess we should update the install instructions.

[2020-11-10 20:22] #148 closed